<script src="/js/main.js"></script>
</body>



  <!-- Footer -->


<footer class="main-footer">
    <p>this is the footer</p>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">HappyKnots © 2020 Copyright
  </div>
  
</footer>


</html>