<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="headpage">
            <h1>Contact</h1>
        </div>
    </main>
<%- include('../includes/end.ejs') %>