<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <article>

      <div class="allheader text-center">
        <h1>Tutorial</h1>
      </div>

      <div class="youtube">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nTFWjZSrX00"
            allowfullscreen></iframe>
        </div>
      </div>
    </article>




  </main>
  <%- include('../includes/end.ejs') %>